doctype html
html(lang='en')
    head
        title The Hunt - A Charleston Adventure
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mobland - Mobile App Landing Page Template')
        meta(name='keywords', content='HTML5, bootstrap, mobile, app, landing, ios, android, responsive')
        // Font
        link(rel='dns-prefetch', href='//fonts.googleapis.com')
        link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet')
        // Bootstrap CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Themify Icons
        link(rel='stylesheet', href='/stylesheets/themify-icons.css')
        // Owl carousel
        link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
        // Main css
        link(href='/stylesheets/styleD.css', rel='stylesheet')
        link(rel='shortcut icon', type='image/ico', href='/images/fav.ico')

        
    body(data-spy='scroll', data-target='#navbar', data-offset='30')
        
        // Nav Menu
        include ./layoutComponents/MenuD
        
        // hero image                
        header#home.bg-gradient

                    
        // // end .section
  
        .section.light-bg
            .container
                .section-title
                    h2 Welcome to The Hunt, #{user.name}
                    h4.thanks_for_input #{message}
                .row
                    .col-lg-12
                        h4 Select A Hunt to Play


                        - for ( i = 0; i < hunts.length; i += 3)
                            .row
                                .card-deck.m-4
                                    - for ( j = i; j < 3 + i && j < hunts.length; j++)  
                                        .col-lg-4
                                            .card.m-2.hunt-card
                                                a(href="/hunt/" + hunts[j]._id)
                                                    img.card-img-top(src=hunts[j].cardPicture)
                                                    -var today = moment(new Date()).format("L")
                                                    if hunts[j].startDate > today
                                                        .card-img-overlay
                                                            .card-title 
                                                                h3.huntNotStarted Hunt Begins #{hunts[j].startDate || "Always Available"}

                                                    .card-body
                                                        .media
                                                            .media-body
                                                                h3.card-title=hunts[j].huntName
                                                                p Difficulty: #{hunts[j].difficulty}

                                                                // Check if time exists
                                                                if user.huntsData[hunts[j]._id]
                                                                    p Hunt Started: #{moment(user.huntsData[hunts[j]._id].startTime).fromNow()}
                                                                else
                                                                    p Hunt Started: Not Yet Begun

                                                                // check if clue number exists
                                                                if user.huntsData[hunts[j]._id]
                                                                    p Current Clue: #{user.huntsData[hunts[j]._id].userClueNumber}
                                                                else
                                                                    p Current Clue: Not Yet Started

                                                                p Avg Time to Finish: #{hunts[j].averageTimeToComplete || "Not Available"}
                                                                p Start Date: #{hunts[j].startDate || "Always Available"}
                                                                br
                                                        
                                                        a(href="/play2/" + hunts[j]._id)
                                                            .HuntNowButton 
                                                                if hunts[j].startDate > today
                                                                    | Hunt Info
                                                                else    
                                                                    | Play Now
                                                
        // // end .section
        .section.light-bg
            .container
                .row
                    .col-lg-6
                        form(action='/play/'+user.username, method='post')
                            h4.w-100.font-weight-bold Feedback
                            
                            .mx-3
                                .mb-4
                                    .md-form.mb-4
                                        label(for='feedback') Let us know what you think.
                                        textarea.form-control.validate(cols="60", rows="4", type='text', name='feedback', id='feedback', placeholder='Let us know what you think.', required)
                                    .d-flex
                                        button.btn.btn-primary(type='submit') Send

                    .col-lg-6
                        form(action='/resetpassword', method='post')
                            h4.w-100.font-weight-bold Reset Password
                            .mx-3
                                .mb-4
                                    .md-form.mb-4
                                        label(for='New') New Password
                                        input.form-control.validate(type='password', name='New', id='New', placeholder='', required)
                                        label(for='Confirm') Confirm New Password
                                        input.form-control.validate(type='password', name='Confirm', id='Confirm', placeholder='', required)
                                    .d-flex
                                        button.btn.btn-primary(type='submit') Reset
        
        // // end .section
        footer.my-5.text-center
            // Copyright removal is not prohibited!
            p.mb-2
                small COPYRIGHT © 2018. ALL RIGHTS RESERVED. TREASURE HUNT, LLC
            small
                a.m-2(href='/rules') RULES
                a.m-2(href='/privacy') PRIVACY
        // jQuery and Bootstrap
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        // Plugins JS
        script(src='/javascripts/owl.carousel.min.js')
        // Custom JS
        script(src='/javascripts/script.js')