doctype html
html(lang='en')
    head
        title The Hunt - A Charleston Adventure
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Mobland - Mobile App Landing Page Template')
        meta(name='keywords', content='HTML5, bootstrap, mobile, app, landing, ios, android, responsive')
        // Font
        link(rel='dns-prefetch', href='//fonts.googleapis.com')
        link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500', rel='stylesheet')
        // Bootstrap CSS
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        // Themify Icons
        link(rel='stylesheet', href='/stylesheets/themify-icons.css')
        // Owl carousel
        link(rel='stylesheet', href='/stylesheets/owl.carousel.min.css')
        // Main css
        link(href='/stylesheets/styleD.css', rel='stylesheet')

    body(data-spy='scroll', data-target='#navbar', data-offset='30')
        
        // Nav Menu
        include ./layoutComponents/PlayMenuD
        
        .container.bg-white.col-md-6.col-md-offset-3.playHeaderMargin
            br
            h2.text-center #{clueResponseObj.resultHeader}
            br
            p.text-center.tagline #{clueResponseObj.result}
            br
            .col-md-4.text-center
              a.btn.btn-primary(href="/play") Get Back to The Hunt
            br
            br
            h4 Leaderboard
            p 1st Place: 
              span.font-weight-bold #{leaderList[0].username} 
              | on clue ##{leaderList[0].currentClue}
            p 2nd Place: 
              span.font-weight-bold #{leaderList[1].username} 
              | on clue ##{leaderList[1].currentClue}
            p 3rd Place: 
              span.font-weight-bold #{leaderList[2].username} 
              | on clue ##{leaderList[2].currentClue}
            p 4th Place: 
              span.font-weight-bold #{leaderList[3].username} 
              | on clue ##{leaderList[3].currentClue}
            p 5th Place: 
              span.font-weight-bold #{leaderList[4].username} 
              | on clue ##{leaderList[4].currentClue}
        
        // jQuery and Bootstrap
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/bootstrap.bundle.min.js')
        // Plugins JS
        script(src='/javascripts/owl.carousel.min.js')
        // Custom JS
        script(src='/javascripts/script.js')
        script(src='/javascripts/hunt.js')




