mixin clueDisplay(clue = {})
    
    div.cluebox
        div.row 
            .column
                h2 Clue ##{clue.clueOrder}
                p Short Name: #{clue.clueShortName} 
                p Clue Text: #{clue.clueText}
                p Margin of Error: #{clue.marginOfError} feet

            .column
                img.w3-center(src=clue.clueIMG)

            .column
                iframe(width='400', height='400', src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzKVRtxF03WkC8wRDmUdmxlhZwwzD8LKk&q="+clue.clueLat+","+clue.clueLong+"&zoom=19&maptype=satellite")


    br